/* Hide the images by default */
.mySlides {
  display: none;
}
body {
  background-color: antiquewhite;
}
#gologinbt {
  text-align: center;
  display: block;
  padding: 20px;
  margin: 100px;
  width: 100px;
  color: white;
  background-color: black;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  width: 50%;
  height: auto;
}
table,
th,
td {
  border: 2px solid black;
}
tr {
  text-align: center;
  background-color: aqua;
  font-family: "Courier New", Courier, monospace;
}
th {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
td {
}
