<!DOCTYPE html>
<html lang="en">
    <head><%- include('../partials/head.ejs'); %></head>
<body onload="mainLoad();">
    <div id = "app" >
        <v-app
            style=" background: #37E2D5"
        >
            <v-main>
                <%- include('../partials/nav.ejs'); %>
                <h1 style="color:rgb(255, 255, 255)"><%= name %></h1>
                <div>
                    <v-card
                    class="mx-auto rounded-xl text-center"
                    color="red"
                    width="70%"
                    title="topics"
                  ></v-card>
                </div>
            </v-main>
        </v-app>

    </div>

    <%- include('../partials/footer.ejs'); %>
    <script>
        var x;
        const vuetify = Vuetify.createVuetify();
        const app = Vue.createApp({
          theme: {
            defaultTheme: "dark"
          },  
          data() {
            return {
              // DATA HERE
            };
          },
          methods: {
            // METHODS HERE
          },
        });
  
        app.use(vuetify).mount("#app");
      </script>
</body>
</html>