<!DOCTYPE html>
<html lang="en">
  <head><%- include('../partials/head.ejs'); %></head>

  <body onload="mainLoad();">
    <header>
      <div class="containTopStatus">
        <label>Home | Not Share</label>
        <button>Clear</button>>
      </div>

    </header>
    <section>
      <div class="containMainBody">
        <div class="topsection">
          <div class="containTopic">
            <label>Topics</label>
            <button>Movie</button>
            <button>Game</button>
            <button>Sport</button>
            <button>Food</button>
            <button>Hangout</button>
          </div>
          <div class="containGoogleMap">
            <canvas id="Map" style="width: 70%; height: 200px; border: 1px solid black;"></canvas>
          </div>
        </div>
        <div class="topsection">
          
        </div>

      </div>
    </section>
    <footer><nav><%- include('../partials/nav.ejs'); %></nav></footer>
  </body>
</html>
